html, body {
    margin-bottom: 10px;
    padding: 120px 100px;
    font-family: Karla;
    background-color: #CBC3E3;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.05em;
    text-align: left;  
    border: white; 
    border-radius: white;
}

.container {
    width: 550px;
    height: 600px;
    margin: 0 auto;
    background-color: #262c29;
    padding: 40px 60px;
    margin-top: 5%;
}
.text-intro{
    text-shadow: 5px;
}
.text-intro h2{
    margin-top: 100px;
    font-style: bold;
    color: white;
}
.text-accent{
    color: #10B981;
    margin: 10px 0;   
}
.text-intro span{
    color: #6B7280;
    font-size: 35px;
    margin-bottom: 15px;
}
.btn{
    background-color: #10B981;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    margin: 15px 0;
    margin-bottom: 40px;
    cursor: pointer;
}
.btn .text-btn{
    color: #fff;
    font-size: 20px;
    text-shadow: 2px #fff;
    padding-left: 12px;
}
.btn .img-btn{
    padding-left: 0;
}
.input-intro{
    margin-top: 5px;
    border-top: 1px solid #D5D4D8;
    padding: 20px 0;
    margin-bottom: 5px;
}
.input-div{
    display: none;
    justify-content: space-between;
    margin: 5px 0;
}
.input-div .left{
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 10px;
}
.input-div .right{
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 10px;
}
.input-div .top{
    margin-bottom: 10px;
}
.input{
    background-color: #273549;
    border-radius: 10px;
    text-align: center;
    padding: 15px 25px;
    font-size: 15px;
    color: #10B981;
    font-weight: bold;
    border: none;
}

